#root {
  margin: 0 auto;
  text-align: center;
}
.App {
  background-image: url("../img/backgroundapp.jpg");
  background-size: 100% 100%;
  border-radius: 8px;
  padding: 2rem;
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.imgLoading{
  width: 200px;
  padding-top: 30px;
}