#root {
  margin: 0 auto;
  text-align: center;
}
.App {
  background-color: #2b667e;
  border-radius: 8px;
  padding: 2rem;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

