*{
    margin: 0;
    padding: 0;
}

.humidity{
    display: flex;
    flex-direction:row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

img{
    width: 30px;
}

h3{
    font-size: 1.2rem;
    color: #fff;
}

h4{
    font-size: 0.9rem;
    color: #fff;
}
