*{
    margin: 0;
    padding: 0;
}

.temperatura{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 65%;

}

.iconeClima{
    width: 125px;
}

.graus{
    font-size: 50px;
}

.cidade{
    font: 2rem sans-serif;
}